[init]
    defaultBranch = main
[core]
    quotepath = false
    longpaths = true
[color]
    ui = auto
[includeIf "gitdir:~/Documents/WindowsPowerShell/"]
    path = ~/workspace/personal/gitconfig-custom/.gitconfig-personal
[includeIf "gitdir:~/workspace/personal/"]
    path = ~/workspace/personal/gitconfig-custom/.gitconfig-personal
